body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .header {
        position: sticky;
        top: 0;
    }
    
    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2em;
        gap: 3em;
        align-items: center;
        background-color: white;
    }
    
    .search-bar {
        margin: 1em;
        position: relative;
        border: 1em transparent white;
        padding: 1em;
        background-color: rgba(233, 229, 229, 0.588);
        width:30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 15em;
        gap: 2em;
    }
    
    .explore {
        display: flex;
        gap: 2em;
        margin-right: 18em;
    }
    .search-txt {
        width: 20%;
        border: none;
        background-color: rgba(233, 229, 229, 0.588);
        color: black;
        font-size: 1em;
        min-width: 200px;
    }
    .search-right {
        position: absolute;
        right: 0;
        align-items: flex-end;
        margin-right: 4em;
    }
    
    .search-container {
        display: flex;
        align-items: center;
       
    }
    .search-button {
        width: 2.2em;
        height: 2.2em;
        border: none;
        border-radius: 50%;
        background-color: palevioletred;
    }
    
    .nav-text {
        text-align: center;
        align-items: center;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .nav-buttons {
        display: flex;
        gap: 0.8rem;
        justify-content: flex-end;
        margin-right: 1em; 
    }
    
    .signup-btn {
        width: 6em;
        height: 3em;
        padding: 0.8em;
        border: none;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 0.9em;
    }
    
    .login-btn {
        width: 6em;
        height: 3em;
        padding: 0.8em;
        border: none;
        border-radius: 10em;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 0.9em;
    }
    
    .main-header {
        margin-left: 8em;
    }
    
    .avatar {
        width: 4em;
        margin: 0 0 0 12em;
        border: none;
        border-radius: 50%;
    }
    
    .avatar-container {
        display: flex;
        gap: 1rem;
    }
    
    .profile {
        width: 3em;
        height: 2em;
        margin: 0;
        transform: translate(0, -70%);
        align-items: center;
    }
    .profile-details {
        display: flex;
    }
    
    .profile-name {
        display: flex;
        font-size: 0.8em;
        width: 10em;
        margin-bottom: 0;
    }
    
    .follow {
        color: gray;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .connect-details {
        display: flex;
        flex-direction: row;
        margin-right: 1em;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }
    
    .follow-profile {
        border: 1px solid lightgray;
        border-radius: 50%;
        width: 1.3em;
        height: 1.3em;
        align-items: center;
        padding: 0.3em 0.5em;
    }
    
    .profile-feedback {
        gap: 1em;
        display: flex;
        align-items: center;
        /* justify-content: flex-end; */
    }
    
    .touch-btn {
        border: none;
        background-color: black;
        border-radius: 10em;
        padding: 1em;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .images {
        display: block;
        max-width: 100%;
    }
    
    .img {
        margin: 2em 12em;
        width: 60em;
        border-radius: 0.5em;
    }
    
    .profile-page {
       width: 100%;
    }
    
    .page-desc1 {
        font-size: 1.2em;
        margin: 0 0 0 22em;
    }
    
    .page-desc2 {
        font-size: 1.2em;
        margin: 1em 0 0 22em;
    }
    
    .page-desc3 {
        margin: 0 0 0 22em;
    }
    
    .UI-desc {
        font-size: 1.2em;
        width: 38em;
    }

    .profile-end {
        align-items: center;
        gap: 0.5em;
        display: flex;
        margin-left: 12em;
    }
    .line-1 {
        width: 30em;
        background-color: rgba(211, 211, 211, 0.542);
        height: 2px;
        margin: 3em 2em 3em 8em;
    }

    .line-2 {
        width: 30em;
        background-color: rgba(211, 211, 211, 0.542);
        height: 2px;
        margin: 3em 2em 3em 2em;
    }

    .avatar-1 {
        width: 4em;
        height: 4em;
        border: none;
        border-radius: 50%;
        display: block;
    }

    .footer-header { 
        margin-left: 2em;
        text-align: center;
    }

    .footer-desc {
        text-align: center;
    }

    .footer-btn {
        border: none;
        background-color: black;
        border-radius: 10em;
        width: 10em;
        padding: 1em;
        color: white;
        text-align: center;
        font-weight: bold;
        margin-left: 60em;
    }

    .more-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 18em;
    }

    .moreinfo-header {
        margin-left: 20em;;
    }

    .view-profile {
        font-size: 0.8em;
    }

    .footer-images {
        display: flex;
        gap: 2em;
        margin-left: 20em;
    }

    .footer-img {
        width: 263px;
        height: 197px;
    }

    .like-profile {
        display: flex;
        gap:1em;
        margin-top: 7em;
        margin-left: 53em;
        align-items: center;
    }

    .like-txt {
        color: gray;
        font-size: 0.7em;
    }

    .bottom-line {
        display: flex;
        gap: 3em;
        margin-left: 20em;
        margin-top: 7em;
        align-items: center;
    }

    .website-benefits {
        font-weight: bold;
        font-size: 0.9em;
    }

    .website-accts {
        display: flex;
        gap: 1em;
        width: 7em;
    }

    .last-line {
        display: flex;
        justify-content: space-between;
        margin-left: 20em;
        margin-top: 4em;
        margin-right: 16em;
    }

    .website-terms {
        color: gray
    }

    .side {
        display: flex;
        gap: 1em;
        font-size: 0.9em;
    }
    @media (max-width: 1380px) {
        .nav-bar {
            gap: 3em;
            align-items: center;
            background-color: white;
        }
    }

    @media (min-width: 920px) {
        .media-class {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1172px;
            margin: auto;
        }
    }

